<main class="container">
  <%= link_to sanitize("&larr; Back to Brands"), brands_path %>

  <div class="header">
    <h1>Edit Brand</h1>
  </div>

  <%#= render "form", brand: @brand %>

  <%= turbo_frame_tag "brand_#{@brand.id}" do %>
    <%= render "form", brand: @brand %>

    <%#= link_to 'Cancel', brands_path(@brand) %>
  <% end %>
</main>
